body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

.menuPequeño{
    color: #F3F3F3;
    background-color: #222222;
}

.menu{
    color: #FFFFFF;
    background-color: #F0A83E;
}

i.fas{
    color: white;
}

.banner{
    text-align: center;
    background-image: url('../img/bowl_background.png');
}

h1{ 
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    font-size: 40px;
    color: #3C2313;
}

.productos{
    text-align: center;
}

footer{
    color: #FFFFFF;
    background-color: #3C2313;;
}

.derechos{
    background-color: #222222;
    text-align: center;
}